# Adds conversion webhook configuration to OpenshiftAssistedControlPlane CRD
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    cert-manager.io/inject-ca-from: capoa-controlplane-system/capoa-controlplane-cert
  name: openshiftassistedcontrolplanes.controlplane.cluster.x-k8s.io
spec:
  conversion:
    strategy: Webhook
    webhook:
      clientConfig:
        service:
          name: webhook-service
          namespace: capoa-controlplane-system
          path: /convert
      conversionReviewVersions:
      - v1
      - v1beta1

